
    .container{
        display: flex;
        width: 100%;
    }
    .container ul{
        list-style: none;
        display: flex;
        flex-wrap: wrap;

    }

    .container ul li{
        background-color:#303030;
        color:white;
        margin:10px;
        padding:3px;
        width: 300px;
        border-radius: 10px;
        cursor: pointer;
    }
    .container ul li a{
        text-decoration: none;
        color:white;
    }
    .content .thumb{
        border-radius: 50%;
        width:100px;
        height: 100px;
        display: inline-flex;
        margin:10px;
        border:2px solid white;
    }

    .content{
        display: inline-flex;
        justify-content: center;
        align-items: center;
    }

    .container .content .details{
        display: inline;
    }
    h5,h6,p{
        margin:0;
        padding:0;
    }
    p{
        opacity: 0.5;
    }

    h6{
        color:#ff80ab;
    }