
nav{
    background-color: crimson;
}

nav .container{
    background-color: crimson;
    color:black;
    padding:5px;
}


li{
    margin:20px;

}

p{
    color: white;
}
nav a{
    text-decoration: none;
    color:white;
}